{{- $keycloak_version := required "You must set settings.keycloak.version" .Values.settings.keycloak.version -}}
{{- $jwks_uri_prefix := "" -}}
{{- if (semverCompare "<17.0.0" (default "0" $keycloak_version)) -}}
{{- $jwks_uri_prefix = "/auth" -}}
{{- end -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gzac-backend.fullname" . }}
  labels:
    {{- include "gzac-backend.labels" . | nindent 4 }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.settings.spring.profiles.active | quote }}
  SPRINGACTUATOR_USERNAME: {{ .Values.settings.spring.actuator.username | quote }}
  SPRING_DATASOURCE_URL: {{ .Values.settings.spring.datasource.url | quote }}
  SPRING_DATASOURCE_USERNAME: {{ .Values.settings.spring.datasource.username | quote }}
  KEYCLOAK_AUTH_SERVER_URL: {{ required "You must set settings.keycloak.authServerURL" .Values.settings.keycloak.authServerURL | quote }}
  KEYCLOAK_REALM: {{ .Values.settings.keycloak.realm | quote }}
  VALTIMO_OAUTH_PUBLIC_KEY: {{ required "You must set settings.keycloak.publicKey" .Values.settings.keycloak.publicKey | quote }}
  VALTIMO_APP_HOSTNAME: {{ .Values.settings.gzac.appHostname | quote }}
  VALTIMO_DATABASE: {{ .Values.settings.gzac.databaseType | quote }}
  CAMUNDA_BPM_ADMINUSER_ID: {{ .Values.settings.camunda.adminUserID | quote }}
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: {{ printf "%s%s/realms/%s/protocol/openid-connect/certs" $jwks_uri_prefix .Values.settings.keycloak.authServerURL .Values.settings.keycloak.realm | quote }}
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAKJWT_CLIENTID: {{ .Values.settings.keycloak.realmRoleId | quote }}
  SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAKJWT_ISSUERURI: {{ printf "%s/realms/%s" .Values.settings.keycloak.authServerURL .Values.settings.keycloak.realm | quote }}
  SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAKAPI_ISSUERURI: {{ printf "%s/realms/%s" .Values.settings.keycloak.authServerURL .Values.settings.keycloak.realm | quote  }}
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAKAPI_CLIENTID: {{ .Values.settings.keycloak.clientID | quote }}
