apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "gzac-frontend.fullname" . }}
  labels:
    {{- include "gzac-frontend.labels" . | nindent 4 }}
data: 
  KEYCLOAK_URL: {{ .Values.settings.keycloak.url | quote }}
  KEYCLOAK_REALM: {{ .Values.settings.keycloak.realm | quote }}
  KEYCLOAK_CLIENT_ID: {{ .Values.settings.keycloak.clientID | quote }}
  KEYCLOAK_LOGOUT_REDIRECT_URI: {{ .Values.settings.keycloak.logoutRedirectURL | quote }}
  KEYCLOAK_REDIRECT_URI: {{ .Values.settings.keycloak.redirectURL | quote }}
  API_URI: {{ .Values.settings.apiURL | quote }}
  WHITELISTED_DOMAIN: {{ .Values.settings.whitelistedDomain | quote }}
  ENABLE_CASE_WIDGETS: {{ .Values.settings.enableCaseWidgets | quote }}
  ENABLE_TASK_FILTERING: {{ .Values.settings.enableTaskFiltering | quote }}
  SOME_ENV_VAR: {{ .Values.settings.someEnvVar | quote }}

